/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-color: #fafafa;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
}
/* app */
.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
}
/* Tittle */
.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0 0 20px 0;
}
